<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>商品</title>
    <meta charset="utf-8">
  </head>
  <body>
    <% products.forEach(function(value, key) { %>
      <form method="POST" action="/purchase">
      <h2><%= value.name %></h2>
      <img src="<%= value.image %>">
      <br>
      <p><%= value.unit_price_s %>satoshi</p>
      <input type="hidden" name="product" value="<%= key + 1 %>">
      <input type="submit" value="ビットコインで購入">
      </form>
    <% }); %>
  </body>
</html>