<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>商品</title>
    <meta charset="utf-8">
  </head>
  <body>
    <% products.forEach(function(value, key) { %>
      <h2><%= value.name %></h2>
      <img src="<%= value.image %>">
      <br>
      <p><%= value.unit_price_s %>satoshi</p>
      <input type="button" onclick="location.href='/purchase<%= key + 1%>'" value="ビットコインで購入">
    <% }); %>
  </body>
</html>